<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TowerGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C9E5BAF1CF4E78F005B5A32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9E5BC71CF4E790005B5A32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9E5BD21CF4E790005B5A32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
